:root{
    --background:#F76045;
    --letra-c: #FBF1C7;
    --letra-o: #3C3836;
}
body{
    font-family: 'Roboto', sans-serif;
}


.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.borde-divisor{
    margin: 0px 15px;
    border-top: 1px solid #3c383681;
}
/* Datos personales */
.datos-personales{
    background-color: #F76045;
    text-align: center;
    padding-top: 110px;
}

.imagen-personal{
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
}

.redes-personales img{
    width: 30px;
}
.fuente-personales{
    color: #FBF1C7;
}
.fuente-b{
    color: #3C3836;
}
.fuente-b h3{
    font-weight: 900;
    text-transform: capitalize;
}
.fuente-b p{
    text-transform: capitalize;
}
.fuente-personales h3{
    margin: 15px auto 2px auto;
}

.fuente-personales h2{
    margin-top: 20px;
    margin-bottom: 5px;
}
.fuente-personales p{
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 10px;
}
.fuente-personales p:last-of-type{
    margin-bottom: 20px;
}

/* ################### Contenido ################### */
.contenido{
    border-left: 1px solid #3C3836;
}
/* Menu  */

.navegacion{
    background-color:#F76045;
    display: flex;
    justify-content: space-evenly;
}
.navegacion a{
    text-decoration: none;
    color: #FBF1C7;
    padding: 30px 30px;
}
.navegacion a:hover{
    background-color: #3C3836;
}
/* contenido */
.titulos{
    background-color: #3C3836;
    margin: 0;
    padding:30px 0px;
    color: #FBF1C7;
}
.titulos h2{
    margin: 0px 0px 0px 50px;
}
.subtitulo{
    margin-left: 25px;
    color: #3C3836;
}
.subtitulo p{
    margin-left: 30px;
}
/* Referencias */
.contenedor-ref{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    margin: auto;
    text-align: center;
}

/* Pie de pagina */
.pie-pagina{
    background-color: #3C3836;
    margin: 0;
    padding: 1px;
    text-align: center;
    color: #FBF1C7;
}