:root{
    --background: #F9F5D7;
    --fuente: #3C3836;    
    --blue:#83A598;
    --purple:#B16286;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    background-color: var(--background);
    text-transform: capitalize;
    color: var(--fuente);
    font-size: 16px;
}
header a{
    text-decoration: none;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--purple);
}
.titulo span{
    font-size: 1.6rem;
}
.contenedor{
    width: 95rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--blue);
}
.navegacion-principal{
    display: flex;
    justify-content: space-evenly;
    
}
.navegacion-principal a{
    padding: 1.3rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 18rem;
    text-align: center;
}
.navegacion-principal a:hover{
    transition: 0.8s;
    background-color: var(--purple);
    
}
.form-titulo{
    margin-left: 28rem;
    color: var(--purple);
}

.formulario{
    background-color: var(--blue);
    width: min(80rem,100%);
    margin: 0 auto 5rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border-style: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto 2rem auto;
    color: #FFFFFF;
    font-weight: bold;
}

.nombre-apellido{
    display: grid;
    grid-template-columns: 48.6% 50%;
    column-gap: 1rem;
}

.campo{
    margin-bottom: 1rem;
}   
.campo label{
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    margin-left: 2rem;
}
.campo textarea{
    height: 20rem;
}
.input-global{
    width: 100%;
    border: none;
    padding: 1rem 0;
    border-radius: 0.7rem;
    color: var(--fuente);
    
    outline: none;
    text-align: center;
}
.input-capitalize{
    text-transform: capitalize;
}
.input-global::placeholder{
    
    text-align: center;
    text-transform: capitalize;
}

.boton{
    display: block;
    width: 50%;
    border: none;
    padding: 1.5rem 0;
    border-radius: 1rem;
    background-color: #FFFFFF;
    margin: 3rem auto 0 auto;
}
.boton:hover{
    color: white;
    background-color: var(--purple);
    transition: 0.5s;
    width: 90%;
    
}