body{
    background-color: #3C3836;
    font-family: sans-serif;
}
.blanco-centro{
    color: white;
    text-align: center;
}
.blanco-centro a{
    color: white;
    justify-content: center;
}
.contenedor-ejercicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    
}
.ejercicios{
    height: 250px;
    width: 100%;
    border-radius: 25px;
    background-color: #EBDBB2;
}
/* .ejercicios form input{
    display: block;
    margin-bottom: 10px;
} */
.contenedor{
    text-align: center;
    display: block;
    justify-content: center;
    margin: auto;
    
}
.contenedor form{
    margin: auto;
    justify-content: center;
}
.contenedor form input{
    display: block;
    margin-bottom: 10px;
    margin: auto auto 10px auto;
}